.biznesyol {
  .hero {
    background: url(../public/images/mig3/biznesyollari.jpg) center/cover;
  }
}

.by-wrap {
  position: relative;
  min-height: 60em;
  max-width: 1200px;
  font-size: 0.7vw;
  @media (min-width: 1300px) {
    font-size: 10px !important;
  }
}

.by-item {
  // width: 340px;
  // height: 130px;
  width: 34em;
  height: 13em;
  background: #7519b0;
  border-radius: 0 999px 999px 0;
  transition: all 0.3s;
  position: relative;
  margin-bottom: 9em;
  z-index: 9;
  left: 30%;
  transform: translateX(-50%);

  &:hover {
    background: #f24704;

    &::after {
      background: #f24704;
    }
  }

  &::after {
    content: " ";
    display: block;
    width: 10.4em;
    height: 10.5em;
    background: #7519b0;
    border-radius: 2.2em;
    transition: all 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-211%, -50%) rotate(45deg);
  }

  h5 {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    z-index: 9;
    text-align: center;
    top: 50%;
    width: 80%;
    left: -30px;
    transform: translateY(-50%);
    font-size: 1.8em;
    font-weight: 500;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 10em;
    border-radius: 999px;
    background: #fff;
    position: absolute;
    top: 50%;
    right: 1.8em;
    transform: translateY(-50%);

    img {
      height: 60%;
    }
  }
}

.by-left {
  position: absolute;
  left: 4em;
  width: 50%;
  height: 100%;
  //   background: rgba(0, 92, 128, 0.596);
}

.by-center {
  position: absolute;
  width: 45em;
  height: 45em;
  background: #fff;
  border-radius: 999px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0.8em solid #7519b0;
  &::after {
    content: " ";
    width: 80%;
    height: 80%;
    display: block;
    background: url(../public/images/mig3/biznesyollaricenter.jpg) center/cover;
    border-radius: 999px;
    margin: 10%;
  }
  //   circle line
  span {
    position: absolute;
    display: block;
    width: 0.9em;
    height: 12em;
    background: #7519b0;

    &::after {
      content: " ";
      width: 3em;
      height: 3em;
      display: block;
      background: #7519b0;
      border-radius: 999px;
      position: absolute;
      top: 10.6em;
      right: -1em;
    }

    &:nth-child(1) {
      transform: rotate(-50deg);
      top: -2.9em;
    }

    &:nth-child(2) {
      transform: rotate(-90deg);
      top: 14.1em;
      left: -6.9em;
    }

    &:nth-child(3) {
      transform: rotate(240deg);
      top: 34.1em;
    }

    &:nth-child(4) {
      transform: rotate(50deg);
      top: -2.9em;
      right: 0;
    }

    &:nth-child(5) {
      transform: rotate(90deg);
      top: 14.2em;
      right: -6.9em;
    }

    &:nth-child(6) {
      transform: rotate(-240deg);
      top: 34.2em;
      right: 0;
    }
  }
}

.by-right {
  position: absolute;
  right: 4em;
  width: 50%;
  height: 100%;
  //   background: rgba(0, 128, 0, 0.486);

  .by-item {
    left: auto;
    right: -70%;
    border-radius: 999px 0 0 999px;
    &::after {
      transform: translate(118%, -50%) rotate(45deg);
    }
    span {
      left: 1.8em;
    }
    h5 {
      right: -3em;
      left: auto;
    }
  }
}
