.eco {
  text-align: left;
  .eco-left {
    margin-top: 50px;

    h3 {
      color: #7519b0;
      font-size: 22px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 40px;
      text-align-last: left;
      border-bottom: 1px solid #7519b0;
    }

    table,
    tbody,
    tr {
      margin: 0 auto;
      width: 100%;
    }
    tr:last-child td {
      border-top: 1px solid #7519b0;
      border-bottom: none;
    }
    td:last-child {
      border-right: none;
    }
    td:nth-child(2) td {
      border-top: 1px solid #7519b0 !important;
      border-bottom: 1px solid #7519b0 !important;
    }
    td {
      padding: 1rem;
      border-bottom: 1px solid #7519b0;
      border-right: 1px solid #7519b0;
      width: 33%;
      text-align: center;
      @media (max-width: 520px) {
        padding: 4px;
      }
    }
    h5 {
      font-size: 14px;
      font-weight: 600;
      color: #555;
    }
    @media (max-width: 1220px) {
      h5 {
        font-size: 13px;
      }
      span {
        font-size: 30px;
      }
      p {
        font-size: 14px;
      }
    }
    @media (max-width: 520px) {
      h5 {
        font-size: 13px !important;
      }
      span {
        font-size: 20px !important;
      }
      p {
        font-size: 12px !important;
      }
    }
    span {
      font-size: 36px;
      color: #fe4601;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      font-weight: 700;
      color: #fe4601;
    }
  }
  .eco-right {
    margin-top: 50px;
    min-height: 430px;
    h3 {
      text-align: left;
      font-size: 26px;
      color: #fe4601;
      font-weight: 700;
    }
    p {
      text-align: justify;
      font-size: 19px;
      color: #555;
    }
  }
}
