.location {
  .hero {
    background: url(../../public/images/mig1/locationbg.jpg) center / cover;
  }

  .location-slider-wrapper {
    position: relative;
    background: linear-gradient(red, orange);
    height: 630px;
  }
  #location-desc-slide-1,
  #location-desc-slide-2 {
    display: flex;
    align-items: center;
  }
  #location-desc-slide-2 {
    transform: scaleX(-1);
  }
  .appendDots2 {
    .slick-active {
      button {
        background: #7519b0 !important;
      }
    }
  }
  .slick-dots {
    position: absolute;
    margin: 0;
    bottom: 14px;
    right: 50px;
    z-index: 9999;
    pointer-events: auto;
    li {
      display: inline-block;
      margin: 5px;
      &.slick-active {
        button {
          background: #f24704;
        }
      }
      button {
        width: 20px;
        height: 20px;
        font-size: 0;
        border-radius: 99px;
        border: none;
        background: #fff;
      }
    }
  }
  .clip {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 630px;
    width: 100%;
    background: url(../../public/images/mig1/bg-clip.svg) center / cover;
    pointer-events: none;
    z-index: 9;
  }
  .clip2 {
    background: url(../../public/images/mig1/bg-clip2.svg) center / cover;
    transform: scaleX(-1);
  }

  .location-slider1 {
    height: 630px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    cursor: grab;

    .location-slide {
      height: 630px;
      &.ls1 {
        background: url(../../public/images/mig1/ls1.jpg) right center / cover;
      }
      &.ls2 {
        background: url(../../public/images/mig1/ls2.jpg) center / cover;
      }
      &.ls3 {
        background: url(../../public/images/mig1/ls3.jpg) center / cover;
      }
    }
  }

  .location-text-slider {
    width: 100%;
    height: 630px;
    position: absolute;
    top: 0;
    z-index: 99;
    cursor: grab;

    .slick-slide {
      display: flex;
      align-items: center;
      height: 630px;
      @media (max-width: 500px) {
        background: rgba(0, 0, 0, 0.1);
      }
    }

    p {
      width: 50%;
      padding: 0 100px 0 50px;
      color: #fff;
      font-size: 22px;
      font-weight: 400;
      @media (max-width: 1150px) {
        font-size: 16px;
        width: 60%;
      }
      @media (max-width: 700px) {
        font-size: 16px;
        width: 80%;
      }
      @media (max-width: 500px) {
        font-size: 15px;
        width: 100%;
        padding: 30px;
      }
    }
  }
  .second-slide {
    margin: 20px 0 100px 0;
    .ls1 {
      background: url(../../public/images/mig1/ls4.jpg) center / cover !important;
    }
    .ls2 {
      background: url(../../public/images/mig1/ls2.jpg) center / cover !important;
    }
    .ls3 {
      background: url(../../public/images/mig1/ls3.jpg) center / cover !important;
    }
    .location-text-slider {
      width: 100%;
      height: 630px;
      position: absolute;
      top: 0;
      z-index: 99;
      cursor: grab;

      p {
        padding: 0 30px 0 130px;
        float: right;
        font-size: 20px;
        line-height: 26px;
        @media (max-width: 1150px) {
          font-size: 15px;
          padding: 30px;
        }
        @media (max-width: 700px) {
          font-size: 15px;
          width: 80%;
        }
        @media (max-width: 500px) {
          font-size: 15px;
          width: 100%;
          padding: 30px;
        }
      }
      .slick-dots {
        li {
          &.slick-active {
            button {
              background: #7519b0 !important;
            }
          }
        }
      }
    }
  }
}
